/* Write your code here. */

.nav-bar-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 10px;
}

.logo-title-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.title {
  font-family: 'roboto';
  font: 18px;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .title {
    font: 24px;
  }
}

.emoji-logo {
  width: 54px;
}

@media screen and (min-width: 768px) {
  .emoji-logo {
    width: 70px;
  }
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 24px;
    margin-left: 32px;
  }
}

.top-score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .top-score {
    font-size: 24px;
    margin-left: 32px;
  }
}
